{% autoescape off %}

<p>Hello,</p>

<p>We received a request to reset the password for the Gerbet & Co account associated with {{ user.email }}.</p>

<p>Please go to the following page and choose a new password:</p>

<div style="text-align: left; margin: 20px 0;">
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
       style="display: inline-block; padding: 12px 24px; font-size: 16px; color: #ffffff;
              background-color: #007bff; border-radius: 4px; text-decoration: none;">
        Reset Password
    </a>
</div>


<p>If you didn't request this, please ignore this email.<br>
Your password won't change until you access the link above and create a new one.</p>

<p>Best regards,<br>
The Gerbet & Co. Team</p>
{% endautoescape %}
