{% extends 'base.html' %}
{% load bag_filters %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-5">Shopping Bag</h2>
    {% if bag.get_total_quantity %}
        <div class="row">
            {% for item in bag %}
            <div class="col-md-12 mb-3">
                <div class="d-flex align-items-center border p-3 rounded">
                    <div class="me-3">
                        <img src="{{ item.image_url }}" alt="{{ item.title }}" class="img-fluid" style="width: 80px; height: 80px; object-fit: cover;">
                    </div>
                    <div class="flex-grow-1">
                        <h5 class="mb-1">{{ item.title }}</h5>
                        <p class="mb-1">Quantity: {{ item.quantity }}</p>
                        <p class="mb-1">Price: &#8364;{{ item.price|floatformat:2 }}</p>
                        <p class="mb-1">Subtotal: &#8364;{{ item.price|subtotal:item.quantity|floatformat:2 }}</p>
                    </div>
                    <form method="POST" action="{% url 'update_bag' item.product_id %}" class="d-inline-block update-form">
                        {% csrf_token %}
                        <div class="input-group">
                            <button type="submit" name="action" value="decrease" class="btn btn-outline-secondary btn-sm"
                                    {% if item.quantity == 1 %}disabled{% endif %}>
                                <i class="bi bi-dash"></i>
                            </button>
                            <input type="hidden" name="action" value="update">
                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                class="form-control text-center qty_input m-0 p-0 px-1" onchange="this.form.submit()">
                            <button type="submit" name="action" value="increase" class="btn btn-outline-secondary btn-sm">
                                <i class="bi bi-plus"></i>
                            </button>
                        </div>
                    </form>
                    <div>
                        <a href="{% url 'remove_from_bag' item.product_id %}" class="mx-3 btn btn-danger btn-sm">Remove</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-between align-items-center m-4">
            <div>
                <p>Subtotal: &#8364;{{ bag.get_total_price|floatformat:2 }}</p>
                <p>Delivery: {% if bag.get_delivery_cost == 0 %} Free {% else %} ${{ bag.get_delivery_cost }} {% endif %}</p>
                <p><strong>Grand Total: ${{ bag.get_grand_total }}</strong></p>
            </div>
                <a href="#" class="btn btn-primary">Proceed to Checkout</a>

        </div>
    {% else %}
        <div class="text-center mt-4">
            <p class="m-3 text-muted">Your bag is empty. Keep shopping to find something you love!</p>
            <a href="{% url 'product_list' %}" class="btn btn-outline-secondary rounded-3 btn-lg mt-3">
                <span class="icon">
                    <i class="bi bi-chevron-double-left text-muted"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}
