{% extends 'base.html' %}

{% block content %}
<div>
    <h2 class="text-center my-5">Shopping Bag</h2>
    {% if bag.get_total_quantity %}
        <div class="row">
            {% include "bag/includes/bag_items.html" %}
        </div>
    {% else %}
        <div class="text-center mt-4">
            <p class="m-3 text-muted">Your bag is empty. Keep shopping to find something you love!</p>
            <a href="{% url 'product_list' %}" class="btn btn-outline-secondary rounded-3 btn-lg mt-3">
                <span class="icon">
                    <i class="bi bi-chevron-double-left text-muted"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    {% endif %}
</div>

<!-- Modal for Confirming Deletion -->
<div class="modal fade" id="confirmRemoveModal" tabindex="-1" aria-labelledby="confirmRemoveLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmRemoveLabel"> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this item from your bag?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="confirmDeleteBtn" href="#" class="btn btn-danger">Remove</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const confirmModal = document.getElementById("confirmRemoveModal");
        const confirmDeleteBtn = document.getElementById("confirmDeleteBtn");

        confirmModal.addEventListener("show.bs.modal", function (event) {
            const triggerButton = event.relatedTarget;
            const deleteUrl = triggerButton.getAttribute("data-href");

            confirmDeleteBtn.setAttribute("href", deleteUrl);
        });
    });
</script>
{% endblock %}
