{% load products_filters %}

{% block content %}
<div class="card shadow-sm border border-opacity-50 product-card">
    <div class="text-center p-3">
        <a href="{% url 'product_view' product.id %}">
            <img src="{{ product.image }}" 
                class="card-img-top rounded product-card-image" 
                alt="{{ product.title }}">
        </a>
    </div>

    <div class="card-body d-flex flex-column justify-content-between">
        <div>
            <a href="{% url 'product_view' product.id %}" 
               class="link-underline link-underline-opacity-0 text-black text-opacity-50">
                <h4 class="card-title">{{ product.title }}</h4>
            </a>

            <p class="card-text purple-text-75">&#8364;{{ product.price }}</p>

            {% include "products/includes/rating_stars.html" with star_fills=product.star_fills %}
        </div>
        <div class="d-flex flex-column align-items-center justify-content-around gap-3">
            <form hx-post="{% url 'add_to_bag' product.id %}" 
                hx-trigger="click" 
                hx-target="#toast-container" 
                hx-swap="outerHTML"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-select-oob="#bag-quantity">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="btn px-3 rose-silk-100 d-inline-flex align-items-center gap-2 pl-add-to-bag-btn">
                    <i class="bi bi-bag-plus fs-5"></i> Add to Bag
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}