{% load products_filters %}

{% block content %}
<div class="card" id="product-card">
    <a href="{% url 'product_view' product.id %}">
        <img src="{{ product.image.url }}" class="card-img-top" id="product-card-image" alt="{{ product.title }}">
    </a>
    <div class="card-body d-flex flex-column justify-content-end gap-3">
        <div>
            <a href="{% url 'product_view' product.id %}" 
               class="link-underline link-underline-opacity-0 text-black text-opacity-50">
                <h4 class="card-title">{{ product.title }}</h4>
            </a>
            <p class="card-text">&#8364;{{ product.price }}</p>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-around gap-3">
            {% if product.rating %}
                {% include "products/includes/rating_stars.html" with star_fills=product.star_fills %}
            {% endif %}

            <form hx-post="{% url 'add_to_bag' product.id %}" 
                hx-trigger="click" 
                hx-target="#toast-container" 
                hx-swap="outerHTML"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-select-oob="#bag-quantity">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-bag-plus"></i> Add to Bag
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}