<form method="POST" action="{% url 'product_rating' product.id %}" id="rating-form" 
      class="rating-form mt-3 d-none">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger" id="form-errors">
            <h4>Form Errors:</h4>
            <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="d-flex flex-row">
        <div class="d-flex justify-content-center gap-2 mb-2">
            {% for i in "12345" %}
                <button type="button" class="star-btn btn p-0" data-value="{{ i }}" aria-label="Rating value">
                    <i class="bi bi-star text-warning text-opacity-75" data-value="{{ i }}"></i>
                </button>
            {% endfor %}
        </div>
        <input type="hidden" name="rating" id="rating-value">

        <div class="text-center">
            <button type="submit" class="btn btn-sm btn-success">Save</button>
            <button type="button" class="btn btn-sm btn-secondary" id="cancel-rating">Cancel</button>
        </div>
    </div>
</form>