{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card mt-5 p-4 shadow-sm" style="max-width: 450px; width: 100%;">
    <a href="{{ next }}" class="btn-close purple-text-90 position-absolute top-0 end-0 m-4 z-3" aria-label="Close"></a>
    <h2 class="text-center mb-4 purple-text-75">Contact Us</h2>

    <form method="POST" novalidate>
    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
