{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Product list: </h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    {% if product.stock > 0 %}
                        <p class="card-text">In stock: {{ product.stock }}</p>
                    {% else %}
                        <p class="card-text">Out of stock</p>
                    {% endif %}
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}