.nav-link .badge {
    font-size: 0.6rem;
    padding: 0.35em 0.65em;
    min-width: 1.8em;
}

/* Hide number input spinners in Chrome, Safari, Edge, and Opera */
.qty_input::-webkit-inner-spin-button,
.qty_input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input arrows in Firefox */
.qty_input {
    -moz-appearance: textfield;
}

#bag-toast-container,
#messages-container {
    z-index: 1050;
}

.navbar-dark,
.navbar[data-bs-theme='dark'] {
    --bs-navbar-color: rgba(255, 255, 255, 0.75) !important;
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.95) !important;
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25) !important;
}

#custom-navbar-toggler {
    font-size: 1.5rem !important;
    color: white !important;
    border-style: none !important;
}

#custom-navbar-toggler:focus {
    box-shadow: none !important;
}

/* Custom placeholder styling */
.custom-placeholder::placeholder {
    font-size: 0.8rem;
    color: rgb(174, 175, 177);
}
