:root {
    /* --font-family: 'Montserrat', sans-serif; */
    --header-font-family: 'Playfair Display SC', sans-serif;
    /* --font-family: 'Work Sans', sans-serif; */
    --font-family: 'Lato', sans-serif;
    --font-thin: 300;
    --font-regular: 400;
    --font-bold: 600;
    --white-color: rgb(251, 251, 251);
    --purple-90: rgba(41, 27, 50, 0.9);
    --purple-75: rgba(41, 27, 50, 0.75);
    --purple-50: rgba(41, 27, 50, 0.5);
    --purple-10: rgba(41, 27, 50, 0.4);
    --my-bs-text-light-60: rgba(255, 255, 255, 0.6);
    --my-bs-text-light-80: rgba(255, 255, 255, 0.8);
    --my-bs-text-light-90: rgba(255, 255, 255, 0.9);
    --bs-success-bg-subtle: #d1e7dd;
    --raspberry: rgb(217, 35, 96);
    --raspberry-hover: rgb(185, 30, 82);
    --raspberry-light: rgba(217, 35, 96, 0.1);
    --raspberry-border: rgba(217, 35, 96, 0.4);
    --text-light: rgba(255, 255, 255, 0.85);
    --placeholder-100: rgb(174, 175, 177);
    --rose-silk-100: rgb(231, 153, 143);
    --rose-silk-hover-100: rgb(230, 127, 113);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-image: url('/media/gerbet_background.webp'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--header-font-family);
}

.playfair-display-font-family {
    font-family: var(--header-font-family);
}

.light-text-90 {
    color: var(--my-bs-text-light-90);
}

.purple-text-90 {
    color: var(--purple-90) !important;
}

.purple-text-75 {
    color: var(--purple-75) !important;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050; /* Higher than Bootstrap modals */
}

#filters-icon {
    width: 2rem;
    height: 2rem;
}

.filter-price-label {
    font-size: 0.8rem;
    color: #aaa;
    margin-bottom: 0px;
    padding-left: 0.3rem;
}

#min_price,
#max_price {
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 0.375rem;
    background-color: #f2f2f2;
    width: 70px;
    text-align: start;
}

/* Disable the up/down arrows (spinners) on a <input type="number"> field */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield;
}

.offcanvas {
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out, visibility 0.4s ease-in-out !important;
    color: var(--purple-75);
    background-color: var(--my-bs-text-light-80);
    backdrop-filter: blur(12px);
    border-left: 1px solid var(--purple-10);
    box-shadow: -8px 0 20px rgba(0, 0, 0, 0.3);
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.offcanvas.show {
    visibility: visible;
    transition: transform 0.3s ease-out;
}

.offcanvas-header {
    border-bottom: 1px solid var(--purple-10);
}

.offcanvas-body {
    padding: 1.5rem;
}

.offcanvas input.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--my-bs-text-light-60);
    color: var(--purple-75);
    border-radius: 0;
}

.offcanvas input.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--raspberry);
}

.offcanvas .btn {
    color: var(--my-bs-text-light-80);
    background-color: var(--purple-75);
    border: none;
    border-radius: 0.375rem;
    transition: background-color 0.5s ease;
}

.offcanvas .btn:hover {
    color: var(--purple-75) !important;
    background-color: var(--my-bs-text-light-80) !important;
    border: none;
}

.offcanvas p {
    letter-spacing: 1px;
}

#search-btn-close {
    background-color: rgba(255, 255, 255, 0);
}

#search-btn-close:hover {
    background-color: rgba(255, 255, 255, 0) !important;
}

.tooltip-inner {
    background-color: var(--my-bs-text-light-80) !important;
    color: var(--purple-75) !important;
    border: 1px solid var(--purple-75) !important;
    margin-bottom: 0.5rem;
}

.tooltip-arrow {
    display: none !important;
}

.nav-item p {
    margin-bottom: 0px;
    letter-spacing: 1px;
}

#navbar-container {
    background-color: var(--purple-75);
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important; /* for Safari */
    z-index: 9999;
}

.nav-link .badge {
    font-size: 0.6rem;
    padding: 0.35em 0.65em;
    min-width: 1.8em;
}

/* Hide number input spinners in Chrome, Safari, Edge, and Opera */
.qty_input::-webkit-inner-spin-button,
.qty_input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input arrows in Firefox */
.qty_input {
    -moz-appearance: textfield;
}

#messages-container {
    top: 60px;
    z-index: 9999;
    width: 100%;
    transition: opacity 0.5s ease-in-out !important;
}

#toast-container {
    transition: opacity 0.5s ease-in-out !important;
}

.toast:not(.show) {
    display: flex !important;
    opacity: 0 !important;
    height: 40px;
}

@media (max-width: px) {
    height: 64px;
}

/* Horizontal scrolling for Account tabs on mobile */
@media (max-width: 768px) {
    .nav-tabs {
        overflow-x: auto;
        flex-wrap: nowrap;
        scrollbar-width: none; /* Hide scrollbar in Firefox */
    }

    .nav-tabs::-webkit-scrollbar {
        display: none; /* Hide scrollbar in Chrome/Safari */
    }

    .nav-tabs {
        padding-right: 40px;
    }
}

/* Tab buttons don’t shrink */
.nav-tabs .nav-link {
    white-space: nowrap;
}

.navbar-dark,
.navbar[data-bs-theme='dark'] {
    --bs-navbar-color: rgba(255, 255, 255, 0.75) !important;
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.95) !important;
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25) !important;
}

#custom-navbar-toggler {
    font-size: 1.5rem !important;
    color: white !important;
    border-style: none !important;
}

#custom-navbar-toggler:focus {
    box-shadow: none !important;
}

/* Custom placeholder styling */
.custom-placeholder::placeholder {
    font-size: 0.8rem;
    color: var(--placeholder-100);
}

#search-input {
    border-bottom: 1px solid var(--placeholder-100) !important;
}

#search-input::placeholder {
    font-size: 1rem;
    color: var(--placeholder-100);
}

/* Checkout */
.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

#card-errors {
    color: #dc3545;
    margin: 1rem 0;
    display: none;
}

/* Account page */
/* Raspberry Nav Tabs */
.nav-tabs {
    border-bottom: none;
    justify-content: center;
    gap: 0.5rem;
}

.nav-tabs .nav-link {
    color: white;
    background-color: var(--rose-silk-100);
    border-color: var(--rose-silk--hover-100);
    border: 2px solid transparent;
    /* border-radius: 2rem; */
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-tabs .nav-link:hover {
    background-color: var(--rose-silk-100);
    border-color: var(--rose-silk--hover-100);
    color: white;
}

.nav-tabs .nav-link.active {
    background-color: var(--rose-silk-hover-100);
    border-color: var(--rose-silk-100);
    color: white;
    font-weight: 600;
}

.nav-link.active {
    border: 2px solid transparent;
}

#nav-tabContent > div > .card,
#nav-tabContent > div > .card .card,
#bag-items-container {
    position: relative;
    padding: 0px 20px;
    border-radius: 20px;
    background: var(--purple-10);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    text-align: center;
    color: var(--my-bs-text-light-80);
}

#nav-tabContent p {
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--my-bs-text-light-80);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#nav-tabContent span {
    font-size: 1.1rem;
    font-weight: var(--font-thin);
    color: var(--my-bs-text-light-80);
}

#default-address-header {
    color: var(--my-bs-text-light-60) !important;
}

.btn-outline-light {
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease;
    color: var(--my-bs-text-light-80);
    background-color: transparent;
}

.btn-outline-light-80:hover,
.btn-outline-light-80:focus {
    background-color: var(--my-bs-text-light-80);
    color: #343a40;
    border-color: var(--my-bs-text-light-80);
    text-decoration: none;
}

.btn-raspberry {
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.375rem;
}

.btn-raspberry:hover,
.btn-raspberry:focus {
    text-decoration: none;
}

.btn-emerald {
    background-color: rgb(31, 168, 105);
    border: none;
    color: var(--my-bs-text-light-80);
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease;
}

.btn-emerald:hover,
.btn-emerald:focus {
    background-color: rgb(25, 140, 87);
    color: var(--my-bs-text-light-80);
    text-decoration: none;
}

.btn-emerald:active {
    background-color: rgb(20, 120, 75);
}

.btn-emerald:disabled {
    background-color: rgb(31, 168, 105);
    opacity: 0.65;
    cursor: not-allowed;
}

.btn-outline-raspberry {
    background-color: transparent;
    border: 2px solid rgb(217, 35, 96);
    color: rgb(217, 35, 96);
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.375rem;
    transition: all 0.3s ease;
}

.btn-outline-raspberry:hover,
.btn-outline-raspberry:focus {
    background-color: rgb(217, 35, 96);
    border: 2px solid rgb(217, 35, 96);
    color: var(--my-bs-text-light-80);
    text-decoration: none;
}

.btn-outline-raspberry:active {
    background-color: rgb(190, 30, 85);
    color: var(--my-bs-text-light-80);
}

.btn-outline-raspberry:disabled {
    color: rgb(217, 35, 96);
    border-color: rgb(217, 35, 96);
    opacity: 0.65;
    cursor: not-allowed;
}

.my-btn-outline-light {
    color: var(--my-bs-text-light-80);
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
}

.my-btn-outline-light:hover,
.my-btn-outline-light:focus {
    color: var(--my-bs-text-light-90);
    transform: scale(1.1);
}

.btn-outline-raspberry-light {
    color: var(--my-bs-text-light-80);
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.btn-outline-raspberry-light:hover,
.btn-outline-raspberry-light:focus {
    color: var(--my-bs-text-light-80);
    background-color: rgb(217, 35, 96);
}

.profile-cells {
    text-align: start;
    color: var(--my-bs-text-light-80);
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    background-color: transparent !important;
}

#product-card {
    width: 200px;
    height: 300px;
}

#product-card-image {
    width: 198px;
    height: 98px;
}

/* Wrapper for stars */
.star-wrapper {
    position: relative;
    width: 1em; /* Adjust size to match your stars */
    height: 1em;
}

/* Base star layer */
.bi-star-custom {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 1em; /* Same size as wrapper */
}

/* Partial fill star layer */
.star-partial {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Above the outline star */
    font-size: 1em; /* Match the size */
    width: calc(var(--star-fill, 1) * 100%); /* Dynamic fill percentage */
    overflow: hidden; /* Hide excess */
    white-space: nowrap;
}

/* FAQ/help page */
#image-container {
    max-height: 310px;
    overflow: hidden;
    margin-top: -110px;
}

#faq-sidebar h5 {
    font-size: 1rem;
}

.list-group-item.active {
    background-color: var(--rose-silk-hover-100);
    color: var(--my-bs-text-light-90);
    font-weight: 500;
    border: none;
}

.list-group-item:hover {
    background-color: var(--rose-silk-100);
    color: var(--my-bs-text-light-90);
    border: none;
}

.accordion-button {
    color: var(--purple-75) !important;
    background-color: var(--my-bs-text-light-90) !important;
    /* transition: transform 0.4s ease-in-out, visibility 0.4s ease-in-out !important; */
}

.accordion-button:focus {
    border-color: var(--rose-silk-hover-100) !important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--rose-silk-hover-100) !important;
    color: var(--my-bs-text-light-90) !important;
    z-index: 1;
}

/* Remove the default arrow */
.accordion-button::after {
    display: none;
}

.transition-icon {
    transition: transform 0.3s ease;
}

.accordion-button[aria-expanded='true'] .transition-icon {
    transform: rotate(180deg);
}

.accordion-item {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e5e5e5; /* subtle divider */
}

/* Contact Us page */
#contact-wrapper {
    min-height: 100vh;
    margin-top: -105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://res.cloudinary.com/stipaxa/image/upload/v1743976803/Gerbet_and_co/macarons_set.webp')
        no-repeat center center / cover;
    background-attachment: fixed;
}

#contact-wrapper label {
    color: var(--purple-75);
}

.is-valid {
    border-color: #198754;
}

.is-invalid {
    border-color: #dc3545;
}

/* About page */
#gerbet-story-hero-section,
#gerbet-story-mission-section {
    background-color: var(--rose-silk-100);
}

#gerbet-story-hero-section {
    margin-top: -110px;
}

.gerbet-story-intro-section,
.gerbet-story-team-text,
#gerbet-story-mission-section-text {
    text-align: justify !important;
}

.gerbet-story-team-text {
    color: var(--purple-75) !important;
}

#about-founder-img {
    width: 230px;
    height: 230px;
}
