{% extends "base.html" %}

{% block content %}
<div style="max-width: 600px; width: 100%;">
    <h2 class="text-center mb-4 purple-text-75">Account</h2>

    <nav class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for tab in tabs %}
        <button class="nav-link 
                    {% if request.GET.tab == tab.id or not request.GET.tab and tab.is_default %}active{% endif %}" 
                id="nav-{{ tab.id }}-tab" 
                data-bs-toggle="tab" 
                data-bs-target="#nav-{{ tab.id }}" 
                type="button" 
                role="tab" 
                aria-controls="nav-{{ tab.id }}" 
                aria-selected="{% if request.GET.tab == tab.id or not request.GET.tab and tab.is_default %}true{% else %}false{% endif %}">
            {{ tab.label }}
        </button>
        {% endfor %}
    </nav>

    <div class="tab-content" id="nav-tabContent">
        {% for tab in tabs %}
        <div class="tab-pane fade 
                    {% if request.GET.tab == tab.id or not request.GET.tab and tab.is_default %}show active{% endif %}" 
            id="nav-{{ tab.id }}" 
            role="tabpanel" 
            aria-labelledby="nav-{{ tab.id }}-tab" 
            tabindex="0">
            {% include tab.template %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}
