{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid p-0 mx-auto" id="image-container">
    <img src="https://res.cloudinary.com/stipaxa/image/upload/v1744210543/Gerbet_and_co/account.webp"
    class="img-fluid" alt="Account banner image">
</div>

<section class="container my-5 pb-5">
    <h2 class="text-center mb-5 purple-text-75">My Account</h2>


    <div class="d-flex flex-column justify-content-center align-items-center gap-4">
        <div class="card-container">
            <div class="address-list-card card h-100 text-center p-4 shadow-sm border border-opacity-50">
                <div class="mb-3">
                    <i class="bi bi-geo-alt fs-1 rose-silk-100"></i>
                </div>
                <h5 class="mb-4 rose-silk-100">Address Book</h5>
                <p class="purple-text-65">
                    View and edit your favorite spots — from home to holiday hideaways — 
                    so your treats always find their way to you.
                </p>

                {% if addresses %}
                    {% for address in addresses %}
                        <div class="card shadow-sm mt-5 mb-2">
                            <div class="mb-3 p-4">
                                <div class="text-end">
                                    {% if address.is_default%}
                                        <p class="mb-0 text-end" id="default-address-icon-wrapper" title="Default address" 
                                           data-bs-toggle="tooltip" data-bs-placement="bottom"
                                           aria-label="Default address">
                                            <i class="bi bi-house-door-fill text-warning fs-2 m-0 p-0"></i>
                                        </p>
                                    {% else %}
                                        <form method="POST" action="{% url 'set_default_address' address.id %}" 
                                                class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" 
                                                    class="btn m-0 p-0 
                                                            {% if address.is_default %}
                                                                disabled
                                                            {% endif %}"
                                                    title="Set as default"
                                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                    aria-label="Set as default">
                                                <i class="bi bi-house text-warning fs-2 m-0 p-0"></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                                <div class="ps-3">
                                    <table class="table">
                                        <colgroup>
                                            <col style="width: 100px;">
                                            <col>
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="text-nowrap address-cells purple-text-75">
                                                    <span>Address 1</span></th>
                                                <td class="address-cells">
                                                    <p class="mb-2 purple-text-65">{{ address.street_address1 }}</p></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-nowrap address-cells purple-text-75">
                                                    <span>Address 2</span></th>
                                                <td class="address-cells">
                                                    <p class="mb-2 purple-text-65">{{ address.street_address2 }}</p></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-nowrap address-cells purple-text-75">
                                                    <span>City</span></th>
                                                <td class="address-cells">
                                                    <p class="mb-2 purple-text-65">{{ address.town_or_city }}</p></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-nowrap address-cells purple-text-75">
                                                    <span>County</span></th>
                                                <td class="address-cells">
                                                    <p class="mb-2 purple-text-65">{{ address.county }}</p></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-nowrap address-cells purple-text-75">
                                                    <span>Postcode</span></th>
                                                <td class="address-cells">
                                                    <p class="mb-2 purple-text-65">{{ address.postcode }}</p></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-nowrap address-cells purple-text-75">
                                                    <span>Country</span></th>
                                                <td class="address-cells">
                                                    <p class="mb-2 purple-text-65">{{ address.country }}</p></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-nowrap address-cells purple-text-75">
                                                    <span>Phone</span></th>
                                                <td class="address-cells">
                                                    <p class="mb-2 purple-text-65">{{ address.phone_number }}</p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="d-flex justify-content-center mt-4 gap-4 flex-wrap">
                                    <a href="{% url 'address_update' address.id %}"
                                       class="btn back-to-account-btn d-inline-flex align-items-center gap-2 px-3"
                                        aria-label="Edit">
                                        <i class="bi bi-pencil-square fs-4"></i>
                                        <span>Edit</span>
                                    </a>
                                    <a href="#" 
                                        class="btn profile-change-btn d-inline-flex align-items-center gap-2 px-3"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#confirmAddressRemoveModal"
                                        data-id="{{ address.id }}"
                                        data-street-address1="{{ address.street_address1 }}"
                                        data-street-address2="{{ address.street_address2 }}"
                                        data-city="{{ address.town_or_city }}"
                                        data-county = "{{ address.county }}"
                                        data-postcode = "{{ address.postcode }}"
                                        data-country = "{{ address.country }}"
                                        data-action-url="{% url 'address_delete' address.id %}">
                                        <i class="bi bi-trash3 fs-4 m-0 p-0"></i>
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center purple-text-75 fs-5 mt-3">
                        No addresses saved just yet.
                    </p>
                {% endif %}

                <div class="m-4">
                    <a href="{% url 'address_create' %}" class="btn bg-zomp-100 text-white-color px-3 d-inline-flex align-items-center gap-2" 
                       id="new-address-btn">
                        <i class="bi bi-plus-circle fs-4"></i>
                        <span>Add New Address</span>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a href="{% url 'account' %}" class="btn back-to-account-btn d-inline-flex align-items-center gap-2 mt-3">
                <i class="bi bi-person-circle fs-4"></i>
                <span>Back to My Account</span>
            </a>
        </div>
    </div>
</section>

<!-- Modal for Confirming Deletion -->
<div class="modal fade" id="confirmAddressRemoveModal" tabindex="-1" aria-labelledby="confirmAddressRemoveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered px-3">
        <div class="modal-content">
            <div class="modal-header">
                <i class="bi bi-geo-alt-fill text-warning fs-4 m-2"></i>
                <h5 class="modal-title purple-text-75" id="confirmAddressRemoveModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center purple-text-65 m-4">
                    Are you sure you want to delete this address?
                </p>
                <span id="modal-address-id">
            </div>
            <div class="modal-footer d-flex justify-content-center p-3 gap-4 flex-wrap">
                <button type="button" class="btn profile-change-btn d-inline-flex align-items-center gap-2 px-3" 
                        data-bs-dismiss="modal">
                        <i class="bi bi-x-circle fs-5"></i>
                        <span>Cancel</span>    
                </button>
                <form method="POST" id="modal-delete-address-form">
                    {% csrf_token %}
                    <button type="submit" class="btn back-to-account-btn d-inline-flex align-items-center gap-2 px-3">
                        <i class="bi bi-trash3 fs-5"></i>
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script src="{% static "accounts/js/accounts_helpers.js" %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Grab the modal and delete button within it
        const modal = document.getElementById("confirmAddressRemoveModal");
        const addressEl = document.getElementById("modal-address-id");
        const form = document.getElementById("modal-delete-address-form");
    
        // Add an event listener to handle dynamically setting the delete URL
        modal.addEventListener("show.bs.modal", function (event) {
            const trigger = event.relatedTarget;
            if (!trigger) return;
      
            const streetAddress1 = trigger.getAttribute("data-street-address1");
            const streetAddress2 = trigger.getAttribute("data-street-address2");
            const city = trigger.getAttribute("data-city");
            const county = trigger.getAttribute("data-county")
            const postcode = trigger.getAttribute("data-postcode")
            const countryCode = trigger.getAttribute("data-country")
      
            // Convert country code to country name
            const countryName = displayCountryName(countryCode);

            // Update modal content
            const addressParts = [
                streetAddress1,
                streetAddress2,
                city,
                county,
                postcode,
                countryName,
            ].filter(part => part && part !== "None");

            // Update modal content
            addressEl.innerHTML = `
            <p class="text-center purple-text-75 fs-5">${addressParts.join(", ")}</p>
            `;
      
            // Update form action
            const actionUrl = trigger.getAttribute('data-action-url');
            form.setAttribute('action', actionUrl);
        });
    });
</script>
{% endblock %}
