{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card mt-5 p-4 shadow-sm" style="max-width: 450px; width: 100%;">
    <a href="{{ next }}" class="btn-close purple-text-90 position-absolute top-0 end-0 m-4 z-3" aria-label="Close"></a>
    <h2 class="text-center mb-4 purple-text-75">Login</h2>

    {% if request.GET.password_reset or request.GET.password_change %}
        <div class="alert alert-success text-center">
            <p>Your password has been successfully changed.<br>Please log in with your new password.</p>
        </div>
    {% endif %}

    {% if request.GET.registration %}
        <div class="alert alert-success text-center">
            <p class="mb-0">Welcome to Gerbet & Co!</p>
            <p class="m-0">Please log in with your credentials.</p>
        </div>
    {% endif %}

    <form method="POST" action="{% url 'login' %}?next={{ next }}">
        {% csrf_token %}
        {{ form|crispy }}

        <p>
            <label for="id_remember_me">Remember Me:</label>
            <input type="checkbox" name="remember_me" id="id_remember_me">
        </p>

        <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{% url 'password_reset' %}" class="btn btn-link">Forgot Password?</a>
        </div>
    </form>

    <p class="text-center mt-3">
        Do not have an account? <a href="{% url 'register' %}">Register</a>
    </p>
</div>
{% endblock %}

