{% extends "base.html" %}

{% block content %}
<div class="card p-4 shadow-sm" style="max-width: 450px; width: 100%;">
    <div class="card-body text-center">
        <h5 class="text-black fw-light text-opacity-50 mt-2 mb-5">Are you sure you want to log out?</h5>

        <div class="d-flex justify-content-evenly">
            <a href="{% url 'home' %}"
                class="btn-scale btn btn-outline-default active text-opacity-75 text-body-secondary text-opacity-75 px-5"
                aria-label="Logout decline">No</a>
    
            <form method="POST" action="{% url 'logout' %}?next={{ next }}">
                {% csrf_token %}
                <button type="submit" class="btn-scale btn btn-secondary text-opacity-75 px-5"
                    aria-label="Logout confirm">Yes</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
