{% extends "base.html" %}

{% block body_class %}accounts-pages{% endblock %}

{% block content %}
<div class="card mt-5 p-4 shadow-sm text-center" style="max-width: 450px; width: 100%;">
    <h2 class="mb-4 purple-text-75">Password Reset Sent</h2>
    <p class="purple-text-75">
        We've just sent you an email with instructions to reset your password—keep an eye on your inbox.
    </p>
    <p class="purple-text-75">
        If it doesn't show up soon, check your spam folder or 
        <a href="{% url 'password_reset' %}" class="text-decoration-none zomp-text-100">give it another try</a>.
    </p>
</div>
{% endblock %}
