{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div style="max-width: 600px; width: 100%;">
    <h2 class="text-center mb-4 purple-text-75">Change Password</h2>
    <div class="card my-5 shadow-sm" style="max-width: 600px; width: 100%;">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-center mt-4 gap-4">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                    <a class="btn btn-outline-secondary" type="button" href="{% url 'account' %}">
                        Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
