{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block body_class %}accounts-pages{% endblock %}

{% block content %}
<div class="container my-5 pb-5">
    <h2 class="text-center mb-5 purple-text-75">Resident Profile</h2>

    <div class="d-flex flex-column justify-content-center align-items-center gap-4">
        <div class="card-container">
            <div class="change-password-card card h-100 text-center p-4 shadow-sm border border-opacity-50">
                <div class="mb-3">
                    <i class="bi bi-file-earmark-lock2 fs-1 rose-silk-100"></i>
                </div>
                <h5 class="mb-4 rose-silk-100">Change Password</h5>
                <p class="purple-text-65">
                    You can update your password here — simple, secure, and just for you.
                </p>

                <form method="POST" id="password-update-form" class="mt-5 mb-3 px-5 purple-text-75">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-center mt-4 gap-4 flex-wrap">
                        <button type="submit" class="btn bg-zomp-100 text-white-color accounts-btns d-inline-flex align-items-center gap-2 px-3">
                            <i class="bi bi-check-circle fs-4"></i>
                            <span>Confirm</span>
                        </button>

                        <a href="{% url 'profile_view' %}" class="btn accounts-cancel-btns d-inline-flex align-items-center gap-2 px-3">
                            <i class="bi bi-x-circle fs-4"></i>
                            <span>Cancel</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a href="{% url 'account' %}" class="btn back-to-account-btn d-inline-flex align-items-center gap-2">
                <i class="bi bi-person-circle fs-4"></i>
                <span>Back to My Account</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
