{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block body_class %}accounts-pages{% endblock %}

{% block content %}
{% if validlink %}
    <div class="card mt-5 p-4 shadow-sm" style="max-width: 450px; width: 100%;">
        <h2 class="text-center mb-4 purple-text-75">Set New Password</h2>
        
        <form method="post" class="form-password-reset purple-text-75">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="d-grid mt-5">
                <button type="submit" class="btn bg-zomp-100 text-white-color accounts-btns">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
{% else %}
    <div class="card mt-5 p-4 shadow-sm text-center" style="max-width: 450px; width: 100%;">
        <h2 class="purple-text-75 my-3">Link Expired</h2>
        <p class="mb-2">The password reset link is no longer valid. It may have expired or been used already.</p>
        <p class="mb-4">Please request a new one to continue.</p>
        <a href="{% url 'password_reset' %}" class="btn bg-zomp-100 text-white-color accounts-btns my-4">
            Request New Link
        </a>
    </div>
{% endif %}
{% endblock %}
