{% extends "base.html" %}

{% block content %}
<div id="profile-toast-container"></div>

<div style="max-width: 600px; width: 100%;">
    <h2 class="text-center my-4">My Profile</h2>
    <div class="card my-5 shadow-sm" style="max-width: 600px; width: 100%;">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Profile Details</h4>
            <button class="btn btn-outline-secondary" 
            hx-get="{% url "profile_details_update" %}"
            hx-target="#profile-details" 
            hx-swap="outerHTML"><i class="bi bi-pencil fs-5"></i></button>
        </div>
        <div class="card-body" id="profile-details">
            <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
    </div>

    <div class="card my-5 shadow-sm" style="max-width: 600px; width: 100%;">
        <div class="card-header">
            <h4 class="py-2 mb-0">Order History</h4>
        </div>
        <div class="card-body">
            {% if orders %}
                <ul class="list-group">
                    {% for order in orders %}
                        <li class="list-group-item">
                            <p><strong>Order ID:</strong> {{ order.order_id }}</p>
                            <p><strong>Order status:</strong> {{ order.status }}</p>
                            <p><strong>Date:</strong> {{ order.created_at }}</p>
                            <p><strong>Total:</strong> &#8364; {{ order.grand_total }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have no orders.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}
