<div id="faq-sidebar">
    <div class="list-group">
      {% for value, label in faqs.model.SECTION_CHOICES %}
        <a href="{% url 'help_section' value %}"
           class="list-group-item list-group-item-action"
           hx-get="{% url 'help_section' value %}"
           hx-target="#help-content"
           hx-push-url="true">
           <h5>{{ label }}</h5>
        </a>
      {% endfor %}
      <a href="{% url 'contact_us' %}?next={{ request.path }}" 
         class="list-group-item list-group-item-action">
        <h5>Still Curious? Contact Us</h5>
      </a>
    </div>
</div>
  