{% comment %} <div class="list-group">
    {% for value, label in faqs.model.SECTION_CHOICES %}
      <a href="{% url 'help_section' value %}"
         class="list-group-item list-group-item-action {% if value == selected_section %}active{% endif %}"
         hx-get="{% url 'help_section' value %}"
         hx-target="#help-content"
         hx-push-url="true">
         {{ label }}
      </a>
    {% endfor %}
  </div> {% endcomment %}

<div id="faq-sidebar">
    <div class="list-group">
      {% for value, label in faqs.model.SECTION_CHOICES %}
        <a href="{% url 'help_section' value %}"
           class="list-group-item list-group-item-action"
           hx-get="{% url 'help_section' value %}"
           hx-target="#help-content"
           hx-push-url="true">
           {{ label }}
        </a>
      {% endfor %}
    </div>
</div>
  