{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge" />
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock %} 
        
        {% block extra_meta %}
        {% endblock %} 
        
        {% block corecss %}
            <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
                crossorigin="anonymous"/>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}
        
        {% block extra_css %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css" 
                integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" 
                crossorigin="anonymous"/>
        {% endblock %}
        
        {% block corejs %}
            <script src="https://unpkg.com/htmx.org@1.9.10"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}
        
        {% block extra_js %}
            <script type="module" src="{% static 'js/base.js' %}"></script>
        {% endblock %}

        <title>Gerbet and Co {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <div class="w-100 sticky-top">
            <nav class="navbar navbar-expand-sm navbar-dark container-fluid " id="navbar-container">
                <a class="navbar-brand ms-3" href="/"><h2>Gerbet & Co.</h2></a>
                <button id="custom-navbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list"></i>
                </button>
                <div class="collapse navbar-collapse text-end mx-3" id="navbarNav">
                    <ul class="navbar-nav me-sm-auto align-items-sm-center">
                        <li class="nav-item align-middle">
                            <a class="nav-link" href="{% url 'product_list' %}?next={{ next }}">
                                <p>Shop</p></a>
                        </li>
                        <li class="nav-item align-middle">
                            <a class="nav-link" href="{% url 'about' %}?next={{ next }}">
                                <p>About</p></a>
                        </li>
                        <li class="nav-item align-middle">
                            <a class="nav-link" href="{% url 'help' %}?next={{ next }}">
                                <p>Help</p></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-sm-auto align-items-sm-center">
                        <li class="nav-item align-middle">
                            <button class="btn my-btn-outline-light" 
                                    type="button"
                                    data-bs-toggle="offcanvas"
                                    data-bs-target="#sideSearch"
                                    aria-controls="sideSearch"
                                    title="Search">
                                <i class="bi bi-search fs-5 m-0 p-0"></i>
                            </button>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item align-middle">
                                <a class="btn my-btn-outline-light" href="{% url 'account' %}?next={{ next }}">
                                    <i class="bi bi-person-fill fs-4 m-0 p-0"></i>
                                </a>
                            </li>
                            <li class="nav-item align-middle">
                                <a class="nav-link" href="{% url 'logout' %}?next={{ next }}">
                                    <p>Logout</p></a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}?next={{ next }}">
                                    <p>Get started</p></a>
                            </li>
                        {% endif %}
                        <li class="nav-item position-relative">
                            <a href="{% url 'view_bag' %}" class="nav-link">
                                <i class="bi bi-bag fs-4"></i>
                                <span id="bag-quantity" 
                                        class="position-absolute top-10 start-90 translate-middle badge rounded-pill bg-danger bg-gradient
                                                {% if bag.is_empty %}d-none{% endif %}"
                                        hx-swap-oob="outerHTML">
                                    {{ bag_total_items }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div id="toast-container" class="toast border border-0 rounded-0 d-flex justify-content-center w-100 py-2"></div>

            {% for message in messages %}
            <div id="messages-container">
                
                <div class="alert {{ message.tags }} alert-dismissible fade show shadow-md border border-0 rounded-0" role="alert">
                    <i class="bi bi-info-circle-fill me-2"></i> {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            {% endfor %}
        </div>
            
        <!-- Search sidebar -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="sideSearch"
            data-bs-backdrop="true" data-bs-scroll="false"
            aria-labelledby="sideSearchLabel">
    
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="sideSearchLabel">Search</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
        
            <div class="offcanvas-body d-flex flex-column gap-4">
                <form class="d-flex align-items-center gap-3 pb-3" method="GET" action="{% url 'product_search' %}">
                    <i class="bi bi-search fs-4"></i>
                    <input type="text"
                            class="form-control bg-transparent border-0 border-bottom shadow-none"
                            name="search_query"
                            placeholder="Search..."
                            aria-label="Search" />
                    <button type="submit" class="btn btn-raspberry px-3">OK</button>
                </form>
        
                <div>
                    <p class="mb-2 text-center">Suggested</p>
                    <ul class="list-unstyled d-flex flex-column gap-2 ps-2">
                        <li><a href="#" class="text-decoration-none">Macarons</a></li>
                        <li><a href="#" class="text-decoration-none">Teas</a></li>
                        <li><a href="#" class="text-decoration-none">Gift Boxes</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="loading-spinner" class="spinner-overlay d-none">
            <div class="spinner-border text-danger text-opacity-75" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="container-fluid d-flex justify-content-center align-items-center my-5">
            {% block content %}
            {% endblock %}
        </div>

        {% block postloadjs %}
        <script>
        </script>
        {% endblock %}        
    </body>
</html>