{% block content %}
<div class="container" id="order-summary" hx-swap-oob="true">
    <div class="row mb-2 me-2 justify-content-end">
        <div class="col-6 col-sm-3 purple-text-65 fw-semibold text-end">Subtotal</div>
        <div class="col-6 col-sm-3 purple-text-75 text-end">
            &#8364;{{ bag.get_total_price|floatformat:2 }}
        </div>
    </div>
    <div class="row mb-2 me-2 justify-content-end">
        <div class="col-6 col-sm-3 purple-text-65 fw-semibold text-end">Delivery</div>
        <div class="col-6 col-sm-3 purple-text-75 text-end">
            {% if bag.get_delivery_cost == 0 %}
                Free
            {% else %}
                &#8364;{{ bag.get_delivery_cost }}
            {% endif %}
        </div>
    </div>
    <div class="row mb-2 me-2 justify-content-end">
        <div class="col-6 col-sm-3 purple-text-65 fw-semibold text-end">Grand Total</div>
        <div class="col-6 col-sm-3 purple-text-75 fw-bold text-end">
            &#8364;{{ bag.get_grand_total }}
        </div>
    </div>
</div>
{% endblock %}