{% load bag_filters %}

{% block content %}
<div class="bag-items-card card text-center p-4 shadow-sm border border-opacity-50"
     id="bag-items-container">
    {% if bag %}
    <ul class="list-group list-group-flush px-0">
        {% for item in bag %}
        <li class="list-group-item border-0 py-4">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center gy-3 h-100">
                    <!-- Product image -->
                    <div class="col-12 col-md-4 d-flex justify-content-center" id="bag-product-img">
                        <img src="{{ item.image_url }}" alt="{{ item.title }}"
                            class="rounded shadow-sm img-fluid"
                            style="min-width: 200px; max-width: 300px; object-fit: cover;">
                    </div>

                    <!-- Product title -->
                    <div class="col-12 mb-2 d-block d-md-none">
                        <h5 class="purple-text-75">{{ item.title }}</h5>
                    </div>
                    <!-- Product details -->
                    <div class="col-12 col-sm-7 col-md-5 text-start ps-md-3" id="bag-product-details">
                        <div class="row d-none d-md-block">
                            <div class="col-12 mb-2">
                                <h5 class="purple-text-75 text-center px-3 mb-3">{{ item.title }}</h5>
                            </div>
                        </div>
                        <div class="row purple-text-65 justify-content-end ms-2">
                            <p class="mb-1"><span class="fw-semibold">Quantity: </span>{{ item.quantity }}</p>
                            <p class="mb-1"><span class="fw-semibold">Price: </span>&#8364;{{ item.price|floatformat:2 }}</p>
                            <p class="mb-1"><span class="fw-semibold">Subtotal: </span>&#8364;{{ item.price|subtotal:item.quantity|floatformat:2 }}</p>
                        </div>
                    </div>
            
                    <!-- Update quantity form & Action buttons -->
                    <div class="col-12 col-sm-4 col-md-3 h-100" id="bag-product-action-btns">
                        <div class="mb-3">{% include "bag/htmx/update_quantity_form.html" %}</div>
                        <div>
                            <a href="{% url 'remove_from_bag' item.product_id %}"
                                class="btn profile-change-btn btn-sm d-inline-flex align-items-center gap-2"
                                data-bs-toggle="modal"
                                data-bs-target="#confirmRemoveModal"
                                data-href="{% url 'remove_from_bag' item.product_id %}">
                                <i class="bi bi-trash3 fs-6"></i> <span>Remove</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <div class="text-center mt-4">
        <p class="m-3 purple-text-65">Your bag is empty. A perfect moment to pick something delightful.</p>
        <a href="{% url 'product_list' %}" class="btn btn-outline-secondary rounded-3 btn-lg mt-3">
            <i class="bi bi-chevron-double-left text-muted"></i>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
        </div>
    {% endif %}
</div>
{% endblock %}