{% load bag_filters %}

{% block content %}
<div class="bag-items-card card text-center p-4 shadow-sm border border-opacity-50" id="bag-items-container">
    {% if bag %}
    <ul class="list-group list-group-flush px-0">
        {% for item in bag %}
        <li class="list-group-item border-0 border-bottom border-opacity-75 py-4">
            <div class="d-flex gap-3">
                <div class="flex-shrink-0">
                    <img src="{{ item.image_url }}" alt="{{ item.title }}"
                        class="rounded shadow-sm"
                        style="width: 200px; height: 200px; object-fit: cover;">
                </div>
                <div class="flex-grow-1 text-start">
                    <div class="container-fluid px-0">
                        <div class="row">
                            <div class="col-12 fw-bold purple-text-75 mb-1" id="bag-item-title">
                                {{ item.title }}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-4 purple-text-65">Quantity:</div>
                            <div class="col-4 purple-text-65">{{ item.quantity }}</div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-4 purple-text-65">Price:</div>
                            <div class="col-4 purple-text-65">&#8364; {{ item.price|floatformat:2 }}</div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-4 purple-text-65">Subtotal:</div>
                            <div class="col-4 purple-text-65">&#8364; {{ item.price|subtotal:item.quantity|floatformat:2 }}</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center gap-3">
                    <div>{% include "bag/htmx/update_quantity_form.html" %}</div>
                    <div>
                        <a href="{% url 'remove_from_bag' item.product_id %}"
                            class="btn profile-change-btn btn-sm d-inline-flex align-items-center gap-2"
                            data-bs-toggle="modal"
                            data-bs-target="#confirmRemoveModal"
                            data-href="{% url 'remove_from_bag' item.product_id %}">
                        <i class="bi bi-trash3 fs-6"></i> <span>Remove</span>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    {% comment %} <div class="text-end mt-4">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row" class="purple-text-65 text-start">Subtotal</th>
                    <td class="purple-text-75 text-end">
                        &#8364;{{ bag.get_total_price|floatformat:2 }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="purple-text-65 text-start">Delivery</th>
                    <td class="purple-text-75 text-end">
                        {% if bag.get_delivery_cost == 0 %} Free {% else %} &#8364;{{ bag.get_delivery_cost }} {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="purple-text-65 text-start">Grand Total</th>
                    <td class="fw-bold purple-text-75 text-end">
                        &#8364;{{ bag.get_grand_total }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-end mt-3">
        <a href="{% url 'checkout' %}" class="btn btn-emerald px-4">
        Proceed to Checkout
        </a>
    </div> {% endcomment %}
    {% else %}
        <div class="text-center mt-4">
        <p class="m-3 purple-text-65">Your bag is empty. A perfect moment to pick something delightful.</p>
        <a href="{% url 'product_list' %}" class="btn btn-outline-secondary rounded-3 btn-lg mt-3">
            <i class="bi bi-chevron-double-left text-muted"></i>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
        </div>
    {% endif %}
</div>
{% endblock %}