<div class="card my-5 shadow-sm" style="max-width: 600px; width: 100%;">
    <div class="card-header">
        <h4 class="text-light m-2">Address book</h4>
    </div>
    <div class="card-body d-flex flex-column mt-4 gap-4">
        {% if addresses %}
            {% for address in addresses %}
                <div class="card shadow-sm">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        {% if address.is_default%}
                            <p title="Default address" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            aria-label="Default address">
                                <i class="bi bi-star-fill fs-4 me-2 p-0"></i>
                    </p>
                        {% else %}
                            <form method="post" action="{% url 'set_default_address' address.id %}" 
                                    class="d-inline">
                                {% csrf_token %}
                                <button type="submit" 
                                        class="btn btn-outline-raspberry-light me-2 {% if address.is_default %}disabled{% endif %}"
                                        title="Set as default"
                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        aria-label="Set as default">
                                        <i class="bi bi-star fs-4 m-0 p-0"></i>
                                </button>
                            </form>
                        {% endif %}
                        <div>
                            <a href="{% url 'address_update' address.id %}" class="btn btn-outline-raspberry-light">
                                <i class="bi bi-pencil-square fs-4 m-0 p-0"></i>
                            </a>
                            <a href="{% url 'address_delete' address.id %}" class="btn btn-outline-raspberry-light">
                                <i class="bi bi-trash3 fs-4 m-0 p-0"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <colgroup>
                                <col style="width: 100px;">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row" class="text-nowrap profile-cells">
                                        <span>Address 1</span></th>
                                    <td class="profile-cells">
                                        <p>{{ address.street_address1 }}</p></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-nowrap profile-cells">
                                        <span>Address 2</span></th>
                                    <td class="profile-cells">
                                        <p>{{ address.street_address2 }}</p></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-nowrap profile-cells">
                                        <span>City</span></th>
                                    <td class="profile-cells">
                                        <p>{{ address.town_or_city }}</p></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-nowrap profile-cells">
                                        <span>County</span></th>
                                    <td class="profile-cells">
                                        <p>{{ address.county }}</p></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-nowrap profile-cells">
                                        <span>Postcode</span></th>
                                    <td class="profile-cells">
                                        <p>{{ address.postcode }}</p></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-nowrap profile-cells">
                                        <span>Country</span></th>
                                    <td class="profile-cells">
                                        <p>{{ address.country }}</p></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-nowrap profile-cells">
                                        <span>Phone</span></th>
                                    <td class="profile-cells">
                                        <p>{{ address.phone_number }}</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center">You have no saved addresses.</p>
        {% endif %}

        <div class="m-4">
        <a href="{% url 'address_create' %}" class="btn btn-primary btn-emerald">
            Add New Address
        </a>
        </div>
    </div>
</div>
