<div class="card my-5 shadow-sm" style="max-width: 600px; width: 100%;">
    <div class="card-header">
        <h4 class="m-2">Deliveries at the Door</h4>
    </div>
    <div class="card-body">
        {% if orders %}
            <ul class="list-group">
                {% for order in orders %}
                    <li class="list-group-item">
                        <p><strong>Order ID:</strong> {{ order.order_id }}</p>
                        <p><strong>Order status:</strong> {{ order.status }}</p>
                        <p><strong>Date:</strong> {{ order.created_at }}</p>
                        <p><strong>Total:</strong> &#8364; {{ order.grand_total }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have no orders.</p>
        {% endif %}
    </div>
</div>
