<div class="card my-5 shadow-sm card-container">
    <div class="card-header">
        <h4 class="m-2">Deliveries at the Door</h4>
    </div>
    <div class="card-body">
        {% if orders %}
            <ul class="list-group">
                {% for order in orders %}
                    <li class="list-group-item bg-transparent border-0">
                        <div class="card">
                            <div class="card-header">
                                <p class="mb-0"><span>Order ID:</span> {{ order.order_id }}</p>
                            </div>
                            <div class="card-body">
                                <p class="text-start mb-0"><span>Status:</span> {{ order.status }}</p>
                                <p class="text-start mb-0"><span>Date:</span> {{ order.created_at }}</p>
                                <p class="text-start mb-0"><span>Total:</span> &#8364; {{ order.grand_total }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have no orders.</p>
        {% endif %}
    </div>
</div>
