{% extends "base.html" %}
{% block content %}

<div class="container my-5 pt-5 pb-4">

    <h2 class="text-center mb-5 purple-text-75">Resident Profile</h2>

    <div class="d-flex justify-content-center">
        <div class="card shadow-sm w-100" style="max-width: 600px;">
            <div class="card-header d-flex justify-content-between align-items-center pe-0 bg-light-subtle">
                <h4 class="mb-0 purple-text-75">Resident Profile</h4>
                <button class="btn btn-outline-raspberry-light"
                        hx-get="{% url 'profile_update' %}"
                        hx-target="#account-details"
                        hx-swap="outerHTML">
                    <i class="bi bi-pencil-square fs-5 m-0 p-0"></i>
                </button>
            </div>

            <div class="card-body" id="account-details">
                <table class="table table-borderless mb-0">
                    <colgroup>
                        <col style="width: 100px;">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-nowrap text-secondary profile-cells">
                                Name
                            </th>
                            <td class="profile-cells">
                                <p class="mb-1">{{ user.first_name }} {{ user.last_name }}</p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap text-secondary profile-cells">
                                Email
                            </th>
                            <td class="profile-cells">
                                <p class="mb-1">{{ user.email }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}
