{% if toast_message %}
<div id="toast-container" class="toast border border-0 rounded-0 d-flex justify-content-center w-100 py-2 show"
        role="alert" aria-live="assertive" aria-atomic="true" hx-swap-oob="true">
    <div class="toast-body d-flex align-items-center p-0">
        <i class="bi bi-check-circle-fill mx-2 fs-6"></i>
        <p class="fs-6 m-0">{{ toast_message }}</p>

        <button type="button" class="fs-6 btn-close mx-2" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
{% endif %}

<div class="card-body" id="account-details">
    <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
</div>
