{% extends "base.html" %}

{% block content %}
<div class="row">
  <p class="purple-text-90 text-center mb-0 pb-0">Your search results for:</p>
  <h2 class="purple-text-90 text-center">{{ query }}</h2>
  <p class="purple-text-90 text-center mb-4">{{results_count}} results</p>

  <div class="dropdown mb-4">
    <button class="btn btn-outline-secondary dropdown-toggle" 
      type="button" 
      id="sortDropdown" 
      data-bs-toggle="dropdown" 
      aria-expanded="false">
      <span id="sortLabel">Sort By</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="sortDropdown">
      <li>
        <button class="dropdown-item" 
          hx-get="{% url 'product_search' %}?search_query={{ query }}&order_by=price_asc"
          hx-target="#product-list"
          hx-swap="innerHTML"
          data-sort-label="Price ascending">
          Price ascending
      </button>
      </li>
      <li>
        <button class="dropdown-item" 
          hx-get="{% url 'product_search' %}?search_query={{ query }}&order_by=price_desc"
          hx-target="#product-list"
          hx-swap="innerHTML"
          data-sort-label="Price descending">
          Price descending
      </button>
      </li>
      <li>
        <button class="dropdown-item" 
          hx-get="{% url 'product_search' %}?search_query={{ query }}&order_by=popularity"
          hx-target="#product-list"
          hx-swap="innerHTML"
          data-sort-label="Recommendation">
          Recommendation
      </button>
      </li>
    </ul>
  </div>

  {% if products %}
      <div id="product-list">
      {% include "products/includes/product_list_sort.html" %}
      </div>
  {% else %}
      <p class="text-light mt-4">No products found.</p>
  {% endif %}
</div>
{% endblock %}
