{% extends 'base.html' %}
{% load products_filters %}

{% block content %}
<div class="container mt-4">
    <h2>Product list: </h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                </a>
                <div class="card-body">
                    <a href="{% url 'product_detail' product.id %}" class="link-underline link-underline-opacity-0 text-black text-opacity-50">
                        <h4 class="card-title">{{ product.title }}</h4>
                    </a>
                    <p class="card-text">&#8364;{{ product.price }}</p>
                    {% if product.stock > 0 %}
                        <p class="card-text">In stock: {{ product.stock }}</p>
                    {% else %}
                        <p class="card-text">Out of stock</p>
                    {% endif %}
                    <div class="d-flex align-items-center justify-content-around">
                        {% if product.rating %}
                            <small class="text-muted"><i class="bi bi-star-fill"></i> {{ product.rating|rating_format }} / 5</small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                        <a href="{% url 'add_to_bag' product.id %}?next={{ request.path }}" 
                            class="link-underline link-underline-opacity-0 text-black text-opacity-50">
                            <p class="h5">Add to Bag</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}