{% extends "base.html" %}
{% block body_class %}product-list-page{% endblock %}

{% load static %}

{% block content %}
<div class="container my-5 pb-5">
    <div class="text-center mb-4 mx-2">
        <i class="bi bi-flower3 fs-1 purple-text-75"></i>
        <h2 class="purple-text-75">Whispers of Flavor</h2>
        <p class="purple-text-65">
            Each macaron, a memory. Each tea, a pause. <br>
            Discover your next favorite from our soft-spoken, flavor-rich collection.
        </p>
    </div>

    <div class="text-end mb-4">
        <button class="btn text-center" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#sideSortFilter" aria-controls="sideSortFilter">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="lucide lucide-sliders-horizontal purple-text-75">
                <line x1="21" x2="14" y1="4" y2="4"/><line x1="10" x2="3" y1="4" y2="4"/>
                <line x1="21" x2="12" y1="12" y2="12"/><line x1="8" x2="3" y1="12" y2="12"/>
                <line x1="21" x2="16" y1="20" y2="20"/><line x1="12" x2="3" y1="20" y2="20"/>
                <line x1="14" x2="14" y1="2" y2="6"/><line x1="8" x2="8" y1="10" y2="14"/>
                <line x1="16" x2="16" y1="18" y2="22"/>
            </svg>
        </button>
    </div>

    {% include "includes/sort_filter.html" %}

    <div id="product-list">
        {% include "products/includes/product_filters.html" %}
        
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-5 pb-5">
            {% include "products/product_cards.html" %}
        </div>
    </div>
</div>
{% endblock %}