{% extends "base.html" %}
{% block body_class %}product-view-page{% endblock %}

{% load static %}
{% load products_filters %}

{% block content %}
<section class="container my-5 pb-5">
    <div class="text-center mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="37" height="51" viewBox="0 0 24 24" fill="none" 
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
            class="lucide lucide-lollipop-icon lucide-lollipop fs-1 purple-text-75">
            <circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/>
            <path d="M11 11a2 2 0 0 0 4 0 4 4 0 0 0-8 0 6 6 0 0 0 12 0"/>
        </svg>
        <h2 class="text-center purple-text-75">Sweet Discovery</h2>
        <p class="text-center purple-text-65 mx-2">
            A little luxury in every bite — crafted with care to brighten your day.
        </p>
    </div>

    <div class="d-flex justify-content-center">
        <div class="product-view-card card text-center p-4 shadow-sm border border-opacity-50">
            <div class="container-fluid px-0">
                <div class="row align-items-center justify-content-center gy-3 h-100">
                    <!-- Product title -->
                    <div class="col-12 mb-2">
                        <h5 class="purple-text-75 text-center">{{ product.title }}</h5>
                    </div>
                    <!-- Product image -->
                    <div class="col-12 col-md-6 d-flex justify-content-center" id="product-view-img">
                        <img src="{{ product.image }}" alt="{{ product.title }}"
                            class="rounded shadow-sm img-fluid"
                            style="min-width: 200px; max-width: 500px; object-fit: cover;">
                    </div>

                    <!-- Product details -->
                    <div class="col-12 col-md-6 text-start ps-md-3 d-flex flex-column gap-4" id="product-view-details">
                        <div class="row d-flex 
                            {% if user.is_authenticated and can_rate %} 
                                justify-content-around 
                            {% else %} 
                                justify-content-start 
                            {% endif %}">

                            {% include "products/includes/rating_stars.html" %}

                            {% if user.is_authenticated and can_rate %}
                                <div class="col-12 col-sm-5 d-flex align-items-start justify-content-sm-end">
                                {% with form=RatingForm.product.id %}
                                    <button type="button"
                                            title="Add Your Rating" 
                                            aria-label="Add Your Rating"
                                            class="btn border-0 bg-transparent p-0 m-0 purple-text-65"
                                            data-bs-toggle="modal" data-bs-target="#ratingModal"
                                            data-product-id="{{ product.id }}"
                                            id="show-rating-stars">
                                            <small>Rate This Delight</small>
                                    </button>
                                {% endwith %}
                                </div>
                            {% endif %}
                        </div>

                        <div id="product-description">
                            <p class="purple-text-65 my-3">{{ product.description|safe }}</p>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="fw-semibold purple-text-65 mb-0">Price:</p>
                                <p class="fs-5 fw-bold purple-text-75 mb-0">&#8364;{{ product.price }}</p>
                            </div>
            
                            <!-- Add to Bag -->
                            <div>
                                <form hx-post="{% url 'add_to_bag' product.id %}"
                                    hx-trigger="click"
                                    hx-target="#toast-container"
                                    hx-swap="outerHTML"
                                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                    hx-select-oob="#bag-quantity">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="1">
                                    <button type="submit" class="btn bg-zomp-100 text-white-color px-2 d-inline-flex align-items-center justify-content-center gap-2 px-4 my-2"
                                            id="pv-add-to-bag-btn">
                                        <i class="bi bi-bag-plus fs-5"></i>
                                        <span class="ms-2">Add to Bag</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-3">
        <a href="javascript:history.back()" class="btn back-to-account-btn d-inline-flex align-items-center gap-2 px-4">
            <i class="bi bi-flower3 fs-4"></i>
            <span>Back</span>
        </a>
    </div>
</section>


<!-- Rating Modal -->
<div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow-sm">
            <div class="modal-header">
                <h5 class="modal-title purple-text-75" id="ratingModalLabel">Rate Your Treat</h5>
                <button type="button" class="btn-close cancel-rating-btns" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                {% include "products/includes/rating_form.html" %}
            </div>
        </div>
    </div>
  </div>
  
{% endblock %}

{% block postloadjs %}
<script src="{% static "products/js/product_view.js" %}"></script>
{% endblock %}