{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <p class="purple-text-90 text-center mb-0 pb-0">Your search results for:</p>
  <h2 class="purple-text-90 text-center">{{ query }}</h2>
  <p class="purple-text-90 text-center mb-4">{{results_count}} results</p>

  <button class="btn text-end" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#sideSortFilter" aria-controls="sideSortFilter">
      <img src="{% static 'icons/filters_purple.svg' %}" alt="filters icon " 
          class="m-4 opacity-75" id="filters-icon" title="Sort and Filter"
          data-bs-toggle="tooltip" data-bs-placement="bottom"
          aria-label="Sort and Filter">
  </button>
  {% include "includes/sort_filter.html"%}

  {% if products %}
      <div id="product-list">
        <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 g-4 mb-5 pb-5">
          {% include "products/product_cards.html" %}
        </div>
      </div>
  {% else %}
      <p class="text-light mt-4">No products found.</p>
  {% endif %}
</div>
{% endblock %}
